<a href="https://colab.research.google.com/github/AxelSalinas/cyp_2021/blob/main/17_11_2020_CyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
edad = 15
estatura = 1.68
a = 10
b = 3

c = 2**b+2+6+7

print(c)

e = estatura *2.0
print(e)

f=a/b # en python el cÃ¡lculo se hace exacto

print(f)

# tambien podemos forzar al calculo de enteros 
g= a//b

print("g=",g)

h= a%b 
print("h=",h)

num = 9
print("es par num ?"), num% 2 == 0

23
3.36
3.3333333333333335
g= 3
h= 1
es par num ?

(None, False)

In [15]:
ecuacion = 9+7*8-36/5   # 9+56 -7.2 -> 65 - 7.2 = 57.8
print(ecuacion)

ecuacion = (9+7)*8-36/5   # 128 -7.2 = 120.8
print(ecuacion)

ecuacion = 9+7*(8-36)/5   # 9+56 -7.2 -> 65 - 7.2 = 57.8
print(ecuacion)

57.8
120.8
-30.200000000000003

In [28]:
# operadores logicos ---> TRUE Y FALSE
x= 5
y=4

valor= x == y # son diferentes ?
print(valor)

valor= x != y # son iguales ?
print(valor)

valor= x < y # es menor que y ?
print(valor)

valor= x > y # es mayor que y ?
print(valor)

y=5
valor= x <= y # es menor o igual que y ?
print(valor)

False
True
False
True
True

In [34]:
costo_chetos=7.0
tienda_abierta= True  
capital_en_bolsa= 10.0

se_compra= (costo_chetos < capital_en_bolsa) and (tienda_abierta == True)
print(se_compra)

True