<a href="https://colab.research.google.com/github/AxelSalinas/cyp_2021/blob/main/19_11_2020_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejemplo
I= 0
I= I + 1
I= I + 1
print(f"I={I}")
J= 5** 2 / 3

print(f"J={J}")

I=2
J=8.333333333333334

In [ ]:
#Ejemplo 
A=0
B=0
C=0
D=0

A=int(input("dame un valor entero"))
B=int(input("dame un valor entero"))
C=int(input("dame un valor entero"))
D=int(input("dame un valor entero"))

print(A)
print(B)
print(C)
print(D)

dame un valor entero1
dame un valor entero2
dame un valor entero3
dame un valor entero4
1
2
3
4

In [ ]:
#Ejemplo 1.7
A=0
B=0

A=int(input("dame un valor "))
B=int(input("dame un valor "))

RES = (A + B) ** 2/3

print(RES)

dame un valor 14
dame un valor -5
27.0

In [ ]:
#Ejemplo 1.9

In [ ]:
#Ejemplo 1.8
MAt=0
CAL1=0
CAL2=0
CAL3=0
CAL4=0
CAL5=0
PRO=0.0

MAT=int(input("dame matricula"))


CAL1=float(input("dame una calificación"))

CAL2=float(input("dame una calificación"))

CAL3=float(input("dame una calificación"))

CAL4=float(input("dame una calificación"))

CAL5=float(input("dame una calificación"))

PRO= (CAL1+CAL2+CAL3+CAL4+CAL5) / 5

print(MAT,PRO)

dame matricula9
dame una calificación9
dame una calificación9
dame una calificación9
dame una calificación9
dame una calificación9
9 9.0

In [ ]:


NUM=int(input("numero"))

CUA= NUM**2
CUB=NUM**3

print(CUA,CUB)

dame un numero7
49 343

In [51]:
BASE= float(input("BASE"))
ALTU=float(input("ALT"))

SUP= BASE*ALTU
PER= (BASE+ALTU)*2
print("Superficie",SUP,"Perimetro",PER)

BASE8
ALT8
Superficie 64.0 Perimetro 32.0