<a href="https://colab.research.google.com/github/AxelSalinas/cyp_2021/blob/main/Tarea_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
# Problema 1.1
PREPRO= float (input("precio del articulo: "))

PAGO=  float (input("Cantidad con la que pagara: "))

DEVO= PAGO - PREPRO

print("Cambio: ",DEVO)

precio del articulo: 6
Cantidad con la que pagara: 10
Cambio:  4.0

In [31]:
# Problema 1.2
BASE= float (input ("Base: "))

ALT=  float (input  ("Altura: "))

AREA= (BASE*ALT)/2

print("La Base es: ",AREA)

Base: 6
Altura: 5
La Base es:  15.0

In [20]:
# Problema 1.3
NOM= (input("Nombre del dinosaurio: "))
PES= float(input("Peso en libras: "))
LON=float(input("Longitud en pies: "))

PESK = PES * 1000

LONM= LON*.3047

print("el peso en kilos del ",NOM,"es",PESK, "La longitud en metros es", LONM)

Nombre del dinosaurio: Diplodocus
Peso en libras: 15
Longitud en pies: 90
el peso en kilos del  Diplodocus es 15000.0 La longitud en metros es 27.423000000000002

In [24]:
# Problema 1.4

GAL=float(input("Galones: "))

TOT= (GAL*3.785)* 8.20

print("Total a pagar:",TOT,"$")

Galones: 10.38
Total a pagar: 322.16406 $

In [29]:
# Problema 1.5
RAD= float(input("Radio: "))
ALT= float(input("Altura: "))



PI= 3.141592

VOL= (PI * RAD**2) * ALT
AREA= 2*PI*RAD*ALT 

print("El volumen es: ",VOL,"y el area es",AREA)

Radio: 45.22
Altura: 11.60
El volumen es:  74519.32074597248 y el area es 3295.856733568

In [38]:
# Problema 1.6
DIA=int(input("Dias: "))

SEG= DIA * 86400

print("Esos dias tienen: ",SEG,"s")

Dias: 15
Esos dias tienen:  1296000 s